src/XMLInput/simulation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="simulation-mode-type_t">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="linked-cell"/>
      <xs:enumeration value="membrane"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="boundary-type_t">
    <xs:restriction base="xs:string">
      <xs:enumeration value="outflow"/>
      <xs:enumeration value="reflect"/>
      <xs:enumeration value="periodic"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="direction_t">
    <xs:restriction base="xs:string">
      <xs:enumeration value="x"/>
      <xs:enumeration value="y"/>
      <xs:enumeration value="z"/>
    </xs:restriction>
  </xs:simpleType>
  

  <xs:complexType name="boundary_t">
    <xs:attribute name="x_0" type="boundary-type_t" use="required"/>
    <xs:attribute name="x_max" type="boundary-type_t" use="required"/>
    <xs:attribute name="y_0" type="boundary-type_t" use="required"/>
    <xs:attribute name="y_max" type="boundary-type_t" use="required"/>
    <xs:attribute name="z_0" type="boundary-type_t" use="required"/>
    <xs:attribute name="z_max" type="boundary-type_t" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="simulation_force-calculator_t">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lennard-jones" type="lj_cutoff_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lj-smoothed" type="lj_smoothed_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="gravity" type="gravity_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="harmonic" type="harmonic_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="constant" type="constant_force_t"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lj_cutoff_t">
  	<xs:attribute name="cutoff_factor" type="xs:double" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="lj_smoothed_t">
  	<xs:attribute name="cutoff_factor" type="xs:double" use="required"/>
  	<xs:attribute name="rl" type="xs:double" use="required"/>
  </xs:complexType>

  <xs:complexType name="gravity_t">
  	<xs:attribute name="g_grav" type="xs:double" use="required"/>
	<xs:attribute name="direction" type="direction_t" use="optional"/>
	<xs:attribute name="type" type="xs:int" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="harmonic_t">
  	<xs:attribute name="k" type="xs:double" use="required"/>
	<xs:attribute name="r" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="constant_force_t">
        <xs:attribute name="type" type="xs:int" use="required"/>
  	<xs:attribute name="force_x" type="xs:double" use="required"/>
	<xs:attribute name="force_y" type="xs:double" use="required"/>
	<xs:attribute name="force_z" type="xs:double" use="required"/>
	<xs:attribute name="start_time" type="xs:double" use="optional"/>
	<xs:attribute name="end_time" type="xs:double" use="optional"/>
  </xs:complexType>
  
  
  <xs:complexType name="simulation-mode_t">
    <xs:sequence>
      <xs:element name="type" type="simulation-mode-type_t"/>
      <xs:element minOccurs="0" name="cutoff_radius" type="xs:double"/>
      <xs:element minOccurs="0" name="domain_size_x" type="xs:double"/>
      <xs:element minOccurs="0" name="domain_size_y" type="xs:double"/>
      <xs:element minOccurs="0" name="domain_size_z" type="xs:double"/>
      <xs:element minOccurs="0" name="boundary" type="boundary_t"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="thermostat_t">
    <xs:attribute name="dim" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="init_temp" type="xs:double" use="required"/>
    <xs:attribute name="steps" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="target_temp" type="xs:double" use="optional"/>
    <xs:attribute name="delta_temp" type="xs:double" use="optional"/>
    <xs:attribute name="steps_changetemp" type="xs:unsignedInt" use="optional"/>
    <xs:attribute name="apply_brown" type="xs:boolean" use="optional"/>
    <xs:attribute name="direction" type="xs:int" use="optional"/>
    <xs:attribute name="type" type="xs:int" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="thermodyn_stats_t">
    <xs:attribute name="freq" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="avgover" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="dr" type="xs:double" use="required"/>
    <xs:attribute name="maxrad" type="xs:double" use="required"/>
    <xs:attribute name="varfile" type="xs:string" use="required"/>
    <xs:attribute name="rdffile" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:simpleType name="fixed_t">
    <xs:list itemType="xs:int"/>
  </xs:simpleType>

    <xs:complexType name="veldenprof_t">
    <xs:attribute name="x_start" type="xs:double" use="required"/>
    <xs:attribute name="x_end" type="xs:double" use="required"/>
    <xs:attribute name="x_count" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="vfile" type="xs:string" use="required"/>
    <xs:attribute name="dfile" type="xs:string" use="required"/>
    <xs:attribute name="freq" type="xs:unsignedInt" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="simulation_parameters_t">
    <xs:sequence>
      <xs:element name="start-time" type="xs:double"/>
      <xs:element name="end-time" type="xs:double"/>
      <xs:element name="delta-t" type="xs:double"/>
      <xs:element name="simulation-mode" type="simulation-mode_t"/>
      <xs:element minOccurs="0" name="thermostat" type="thermostat_t"/>
      <xs:element minOccurs="0" name="thermodyn-stats" type="thermodyn_stats_t"/>
      <xs:element minOccurs="0" name="fixed" type="fixed_t"/>
      <xs:element minOccurs="0" name="velocity-density-profile" type="veldenprof_t"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="cuboid_t">
    <xs:attribute name="x1" type="xs:double" use="required"/>
    <xs:attribute name="x2" type="xs:double" use="required"/>
    <xs:attribute name="x3" type="xs:double" use="required"/>
    <xs:attribute name="n1" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="n2" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="n3" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="h" type="xs:double" use="required"/>
    <xs:attribute name="m" type="xs:double" use="required"/>
    <xs:attribute name="epsilon" type="xs:double" use="required"/>
    <xs:attribute name="sigma" type="xs:double" use="required"/>
    <xs:attribute name="type" type="xs:int" use="required"/>
    <xs:attribute name="v1" type="xs:double" use="required"/>
    <xs:attribute name="v2" type="xs:double" use="required"/>
    <xs:attribute name="v3" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="sphere_t">
    <xs:attribute name="x1" type="xs:double" use="required"/>
    <xs:attribute name="x2" type="xs:double" use="required"/>
    <xs:attribute name="x3" type="xs:double" use="required"/>
    <xs:attribute name="r" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="h" type="xs:double" use="required"/>
    <xs:attribute name="m" type="xs:double" use="required"/>
    <xs:attribute name="epsilon" type="xs:double" use="required"/>
    <xs:attribute name="sigma" type="xs:double" use="required"/>
    <xs:attribute name="type" type="xs:int" use="required"/>
    <xs:attribute name="v1" type="xs:double" use="required"/>
    <xs:attribute name="v2" type="xs:double" use="required"/>
    <xs:attribute name="v3" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="membrane_t">
    <xs:attribute name="x1" type="xs:double" use="required"/>
    <xs:attribute name="x2" type="xs:double" use="required"/>
    <xs:attribute name="x3" type="xs:double" use="required"/>
    <xs:attribute name="n1" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="n2" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="n3" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="h" type="xs:double" use="required"/>
    <xs:attribute name="m" type="xs:double" use="required"/>
    <xs:attribute name="epsilon" type="xs:double" use="required"/>
    <xs:attribute name="sigma" type="xs:double" use="required"/>
    <xs:attribute name="type" type="xs:int" use="required"/>
    <xs:attribute name="v1" type="xs:double" use="required"/>
    <xs:attribute name="v2" type="xs:double" use="required"/>
    <xs:attribute name="v3" type="xs:double" use="required"/>
    <xs:attribute name="mark_type" type="xs:int" use="optional"/>
    <xs:attribute name="mark_x" type="xs:unsignedInt" use="optional"/>
    <xs:attribute name="mark_y" type="xs:unsignedInt" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="simulation_input_t">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="particle_file" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cuboid" type="cuboid_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sphere" type="sphere_t"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="membrane" type="membrane_t"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="iteration_output_t">
    <xs:attribute name="base_filename" type="xs:string" use="required"/>
    <xs:attribute name="output_freq" type="xs:unsignedInt" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="result_output_t">
    <xs:attribute name="filename" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="simulation_output_t">
    <xs:sequence>
      <xs:element minOccurs="0" name="iteration" type="iteration_output_t"/>
      <xs:element minOccurs="0" name="result" type="result_output_t"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="simulation_t">
    <xs:sequence>
      <xs:element name="parameter" type="simulation_parameters_t"/>
      <xs:element name="force-calculator" type="simulation_force-calculator_t"/>
      <xs:element name="input" type="simulation_input_t"/>
      <xs:element name="output" type="simulation_output_t"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="simulation" type="simulation_t"/>


</xs:schema>
